 
body {
	margin: 0;
	background: #f9fafb;
 }
 
.logo-wrapper {
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
}
 
.logo-margin {
	width: 394px;
	margin-left: auto;
	margin-right: auto;
}
 
.login-logo {
	width: 189px;
	height: 24px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 43px;
	background: url('../images/logo.svg');
}
 
.login-box {
	background: #FFFFFF;
	width: 100%;
	height: 360px;
	display: block;
	border-radius: 4px;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
}

.forgotpass-box {
	float: left;
	height: auto;
}

.setuppass-box {
	float: left;
	height: auto;
}

.login-welcome {
	color: #8697A8;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 24px;
	text-align: center;
	width: calc(100% - 52px);
	padding: 0 26px;
	margin-top: 26px;
	margin-bottom: 33px;
	float: left;
}

.setuppass-welcome {
	font-weight: 300;
}

.login-formarea {
	float: left;
	padding: 0 26px;
	width: calc(100% - 52px);
}

.login-formarea div {
	float: left;
	width: 100%;
	margin-bottom: 24px;
}

.login-formarea div label {
	float: left;
	color: #8992A3;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 16px;
	margin-bottom: 5px;
	font-weight: 600;
}

.login-formarea div input {
	float: left;
	width: 100%;
	height: 48px;
	box-sizing: border-box;
	border: 1px solid #E4E9F2;
	border-radius: 4px;
	background: #F7F9FC;
	padding: 0 10px;
	font-size: 16px;
	color: #2071B7;
}

.login-formarea div input:disabled {
	opacity: 0.6;
	color: #8F9BB3;
}

.login-forgotpass {
	float: right;
	color: #8F9BB3;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	line-height: 16px;
	text-align: right;
	cursor: pointer;
}

.login-forgotpass:hover {
	color: #2D59E2;
}

.login-formarea div submit {
	float: right;
	width: 118px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	background: #3366FF;
	border-radius: 4px;
	cursor: pointer;
}

.login-formarea div submit:hover {
	background: #2D59E2;
}

.login-at {
	background: url('../images/login-at.svg');
	width: 20px;
	height: 20px;
	float: right;
	margin-top: -33px;
	margin-right: 12px;
}

.login-lock {
	background: url('../images/login-lock.svg');
	width: 20px;
	height: 26px;
	float: right;
	margin-top: -37px;
	margin-right: 12px;
}

.setuppass-title {
	float: left;
	width: 100%;
	text-align: center;
	color: #222B45;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	margin-top: 29px;
	margin-bottom: -17px;
}

.login-newpasstitle {
	float: left;
	width: 100%;
	text-align: center;
	color: #222B45;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	margin-top: 48px;
	margin-bottom: 36px;
}

.dash-left {
	float: left;
	width: 240px;
	height: 100%;
	background: #FFFFFF;
	position: absolute;
}

.dash-right {
	position: absolute;
	left: 240px;
	height: 100%;
	width: calc(100% - 240px);
}

.dash-logoarea {
	width: 100%;
	height: 64px;
	float: left;
}

.dash-logo {
	width: 189px;
	height: 24px;
	background: url('../images/logo.svg');
	float: left;
	margin-left: 25px;
	margin-top: 21px;
}

ul.dash-sidebarlist {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	border-top: 1px solid #EDF1F7;
}

ul.dash-sidebarlist li {
	list-style-type: none;
	float: left;
	width: 100%;
	height: 48px;
	border-bottom: 1px solid #EDF1F7;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: #222B45;
	font-weight: 600;
	line-height: 48px;
}

ul.dash-sidebarlist li.active, ul.dash-sidebarlist li:hover {
	color: #FFFFFF;
	background: #222B45;
}

ul.dash-sidebarlist li span {
	margin-left: 12px;
	margin-right: 12px;
}

.listicon {
	float: left;
	width: 24px;
	height: 20px;
	background: url('../images/listicon.svg');
	margin-top: 14px;
}

ul.dash-sidebarlist li.active .listicon {
	background: url('../images/listicon-active.svg');
}

.projecticon {
	float: left;
	width: 24px;
	height: 18px;
	background: url('../images/projecticon.svg');
	margin-top: 16px;
}

ul.dash-sidebarlist li.active .projecticon, ul.dash-sidebarlist li:hover .projecticon {
	background: url('../images/projecticon-active.svg');
}

.usericon {
	float: left;
	width: 24px;
	height: 17px;
	background: url('../images/usericon.svg');
	margin-top: 15px;
}

ul.dash-sidebarlist li.active .usericon, ul.dash-sidebarlist li:hover .usericon {
	background: url('../images/usericon-active.svg');
}

.dash-header {
	float: left;
	width: 100%;
	height: 64px;
	background: #FFFFFF;
	box-shadow: 0 2px 13px 0 rgba(0,0,0,0.07);
}

.dash-contentarea {
	float: left;
	width: 100%;
	height: 100%;
	position: absolute;
	top:64px;
}

.dash-header-title {
	float: left;
	width: 100%;
	color: #222B45;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 64px;
	text-align: center;
}

.dash-header-arrow {
	background: url('../images/dasharrow.svg');
	width: 16px;
	height: 14px;
	float: left;
	position: absolute;
	margin-top: 26px;
	margin-left: 26px;
	cursor: pointer;
}

.dash-header-usericon {
	position: absolute;
	margin-top: 12px;
	margin-right: 26px;
	width: 40px;
	height: 40px;
	right: 0;
	overflow: hidden;
}

.dash-header-usericon img {
	width: 100%;
    height: 100%;
    object-fit: cover;
}

.dash-contentarea-wrapper {
	float: left;
	width: calc(100% - 64px);
	padding: 20px 32px;
}

.dash-page-title {
	float: left;
	color: #222B45;
	font-family: 'Open Sans', sans-serif;
	font-size: 32px;
	font-weight: bold;
}

.dash-page-addcontent {
	float: right;
	width: 155px;
	height: 40px;
	color: #FFFFFF;
	text-align: center;
	line-height: 41px;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	border-radius: 4px;
	background-color: #3366FF;
	cursor: pointer;
}

.dash-page-addcontent:hover {
	background-color: #2D59E2;
}

.dash-page-addcontent span {
	background: url('../images/plus.svg');
	width: 20px;
	height: 20px;
	display: inline-block;
    margin-bottom: -4px;
    margin-left: 4px;
}

.dash-page-searcharea {
	float: left;
	width: 100%;
	margin-top: 12px;
}

.dash-page-searcharea .dashsearch {
	float: left;
}

.dash-page-searcharea .dashsearch input {
	float: left;
	width: calc(316px - 20px);
	height: 50px;
	border-radius: 4px;
	background: #FFFFFF;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
	border: 0;
	font-size: 15px;
	padding: 0 10px;
	font-family: 'Open Sans', sans-serif;
}

.dash-page-searcharea .dashsearch input::placeholder {
	color: #8F9BB3;
	opacity: 0.4;
}

.dash-page-searcharea .dashsearch span {
	background: url('../images/searchicon.svg');
	width: 20px;
	height: 21px;
	display: inline-block;
	margin-left: -32px;
    margin-top: 15px;
}

.dash-page-searcharea .dashdropdown-projects, .dash-page-searcharea .dashdropdown-status {
	float: left;
	margin-left: 19px;
}

.dash-page-searcharea .dashdropdown-projects select {
	float: left;
	width: calc(224px - 10px);
	height: 50px;
	border-radius: 4px;
	background: #FFFFFF;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
	border: 0;
	font-size: 15px;
	padding: 0 10px;
	font-family: 'Open Sans', sans-serif;
	color: #8F9BB3;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.dash-page-searcharea .dashdropdown-projects select option {
	color: #8F9BB3;
	opacity: 0.4;
}

.dash-page-searcharea .dashdropdown-status select {
	float: left;
	width: calc(158px - 10px);
	height: 50px;
	border-radius: 4px;
	background: #FFFFFF;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
	border: 0;
	font-size: 15px;
	padding: 0 10px;
	font-family: 'Open Sans', sans-serif;
	color: #8F9BB3;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.dash-page-searcharea .dashdropdown-projects span, .dash-page-searcharea .dashdropdown-status span {
	background: url('../images/downarrow.svg');
	width: 15px;
	height: 10px;
	display: inline-block;
	margin-left: -26px;
    margin-top: 21px;
}

.dashdropdown-check {
	float: left;
	margin-left: 19px;
	font-size: 13px;
	color: #222B45;
	font-family: 'Open Sans', sans-serif;
	margin-top: 11px;
    font-weight: 600;;
}

.dashdropdown-check input[type=checkbox] {
	position: relative;
	cursor: pointer;
	width: 18px;
	height: 16px;
}

.dashdropdown-check input[type=checkbox]:before {
	content: "";
	display: block;
	position: absolute;
	width: 18px;
	height: 18px;
	top: 0;
	left: 0;
	border: 1px solid #C5CEE0;
	border-radius: 3px;
	background-color: #E4E9F2;
}

.dashdropdown-check input[type=checkbox]:checked:after {
	content: "";
	display: block;
	width: 5px;
	height: 10px;
	border: solid black;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
	top: 2px;
	left: 6px;
}

.dash-page-listarea {
	float: left;
	width: 100%;
	background: #FFFFFF;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
	border-radius: 3px;
	margin-top: 20px;
}

.dash-page-listarea ul {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
}

.dash-page-listarea ul li {
	list-style-type: none;
	float: left;
	width: 100%;
}

.dash-page-listarea ul li ul {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
}

.dash-page-listarea ul li ul li {
	list-style-type: none;
	float: left;
	width: calc(100% / 6);
	color: #222B45;
	height: 56px;
	line-height: 56px;
	font-size: 13px;
	font-weight: 600;
	padding: 0 16px;
	font-family: 'Open Sans', sans-serif;
	overflow: hidden;
	background: #FFFFFF;
}

.dash-page-listarea ul li ul li:nth-child(1) {
	width: 80px;
}

.dash-page-listarea ul li ul li:nth-child(2) {
	width: 112px;
}

.dash-page-listarea ul li ul li:nth-child(3) {
	width: calc(100% - 821px);
}

.dash-page-listarea ul li ul li:nth-child(4) {
	width: 112px;
}

.dash-page-listarea ul li ul li:nth-child(5) {
	width: 117px;
}

.dash-page-listarea ul li ul li:nth-child(6) {
	width: 208px;
}

.dash-page-listarea ul li ul li:nth-child(6) div:nth-child(1) {
	margin-right: 11px;
}

.dash-page-listarea ul li:last-child ul li:nth-child(1) {
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.dash-page-listarea ul li:last-child ul li:nth-child(6) {
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.dash-page-listarea ul li:nth-child(odd) ul li {
	background: #F3F4F8;
}

ul.dash-page-listtitles {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
}

ul.dash-page-listtitles li {
	list-style-type: none;
	float: left;
	background: #FFFFFF;
	font-size: 15px;
	color: #8F9BB3;
	padding: 0 16px;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	height: 56px;
	line-height: 67px;
}

ul.dash-page-listtitles li:nth-child(1) {
	width: 80px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

ul.dash-page-listtitles li:nth-child(1) span {
	background: url('../images/smalldownarrow.svg');
	display: inline-block;
    width: 10px;
    height: 7px;
    position: absolute;
    top: 31px;
    margin-left: 4px;
}

ul.dash-page-listtitles li:nth-child(2) {
	width: 112px;
}

ul.dash-page-listtitles li:nth-child(3) {
	width: calc(100% - 821px);
}

ul.dash-page-listtitles li:nth-child(4) {
	width: 112px;
}

ul.dash-page-listtitles li:nth-child(5) {
	width: 117px;
}

ul.dash-page-listtitles li:nth-child(6) {
	width: 208px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.dash-page-liststatus {
	float: left;
	height: 24px;
	border: 1px solid #8F9BB3;
	border-radius: 4px;
	font-size: 10px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	line-height: 24px;
	margin-top: 15px;
	padding: 0 10px;
	width: auto;
}

.dash-page-listactions {
	float: left;
	height: 24px;
	border: 1px solid #3366FF;
	border-radius: 4px;
	background-color: #3366FF;
	font-size: 10px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	line-height: 24px;
	margin-top: 15px;
	padding: 0 20px;
	color: #FFFFFF;
}

.dash-page-listarea ul li ul li.list-red {
	color: #FF3D71;
}

.dash-page-listarea ul li ul li.list-orange {
	color: #FFAA00;
}

.dash-page-listarea ul li ul li:nth-child(5).topic-approved .dash-page-liststatus {
	color: #00D68F;
	border: 1px solid #00D68F;
}

.dash-page-listarea ul li ul li:nth-child(5).topic-writing .dash-page-liststatus {
	color: #0095FF;
	border: 1px solid #0095FF;
}

.dash-page-listarea ul li ul li:nth-child(5).topic-readyview .dash-page-liststatus {
	background: #FFAA00;
	color: #FFFFFF;
	border: 1px solid #FFAA00;
}

.dash-page-listarea ul li ul li:nth-child(5).topic-reviewing .dash-page-liststatus {
	color: #8F9BB3;
	border: 1px solid #8F9BB3;
}

.dash-page-listarea ul li ul li:nth-child(5).topic-ready .dash-page-liststatus {
	background: #00D68F;
	color: #FFFFFF;
	border: 1px solid #00D68F;
}

.dash-page-listarea ul li ul li:nth-child(5).topic-published .dash-page-liststatus {
	color: #FFFFFF;
	background: #00997A;
	border: 1px solid #00997A;
}

.dash-page-listarea ul li ul li:nth-child(5).topic-discarded .dash-page-liststatus {
	color: #FF3D71;
	border: 1px solid #FF3D71;
}

.dash-page-listarea ul li ul li:nth-child(5).topic-idea .dash-page-liststatus {
	color: #222B45;
	border:1px solid #222B45;
}



























